@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
}

.homephoto {
  max-width: 200px !important;
}

.error {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
}

.success {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 255, 0, 0.8);
  color: white;
}

.homepet {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.petdetails{
    max-width: 300px;
}