{% extends 'base.html' %} {%block title%}Edit Pet{% endblock %} {% block content %} <div class="container">
    <h1 class="display-1 text-center">Edit Pet</h1> {% if pet.photo_url %} <div class=" d-flex justify-content-center">
        <img class="img-fluid petdetails" src="{{ pet.photo_url }}">
    </div>{% endif %} <div class="row justify-content-center">
        <div class="col-md-8"> {% include 'pet_form.j2' %} <div class="mt-4">
                <button class="btn btn-success btn-lg">Edit</button>
                <a href="/pets/{{pet.id}}" class="btn btn-warning btn-lg">Go Back</a>
            </div>
            </form>
        </div>
    </div>
</div> {% endblock %}