{% extends 'base.html' %} {%block title%}Home{% endblock %} {% block content %} <div
    class="container justify-content-center">
    <h1 class="display-1">Pets</h1>
    <div class="row">{% for pet in pets %} <div class="col-md-6"><div class="petcontainer">
            <div><img class="img-fluid homephoto" src="{{pet.photo_url}}" alt=""></div>
            <a href="/pets/{{pet.id}}">{{pet.name}}</a>{% if pet.available %} <span> is available!</span> {% else
            %}<span> just found a home!</span> {% endif %}</div>
        </div> {% endfor %} <div class="d-flex mt-5"><a href="/pets/add" class="btn btn-success btn-lg">Add a Pet</a>
        </div>
    </div>
</div> {% endblock %}