{% extends 'base.html' %}{%block title%}{{pet.name}}{% endblock %}{% block content%} <div class="container">
    <h1>{{pet.name}} - {{pet.species.capitalize()}}</h1> {% if pet.age %} <h2>Age: {{pet.age}}</h2> {% endif %} {% if
    pet.photo_url %} <img src="{{pet.photo_url}}" alt="" class="petdetails"> {% endif %} {% if pet.notes %} <p>
        {{pet.notes}}</p> {% endif %} <div><a href="/pets/{{pet.id}}/edit"><button class="btn btn-success">Edit
                Pet</button></a>
        <a href="/"><button class="btn btn-primary">Return Home</button></a>
    </div>
</div> {% endblock %}